__pycache__

# Test ignores
tests/macros/**/*.py
.coverage
coverage.json
coverage.xml
.pytest_cache
*.egg-info

# Do not include macros that require boostraps
# macros.json is used for tracking the boostraped macros, so it can be ignored
# as well
src/macros.json
src/macros/namespace.py
src/registration/manifest.py

# Docs
docs/_build
dist
